

.carousel-caption{
    position: absolute;
    top: 10%;
    left: 5%;
}
.carousel-caption > h1{
font-size: 5rem;
}
.carousel-caption > a > button{
 font-size: 1.5rem;
 padding: 1rem;
}

@media (max-width: 768px) {
    .carousel-caption {
       
        text-align: left;
    }

    .carousel-caption > h1 {
        font-size: 1.5rem; 
        margin-top: 1rem;
    }

    .carousel-caption > a > button {
        font-size: .5rem;
     
    }
}